* {
  @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
  font-family: 'Noto Sans KR', sans-serif !important;
}

.bg-info {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-card {
  max-width: 50%;
}
.main-page {
  padding: 16px 46px;
  font-weight: 300;
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.bg-red {
  background-color: red !important;
  color: red !important;
}
.toolbar-btn {
  font-size: 14px;
  font-weight: 500 !important;
  color: #252a33 !important;
}
.text-center {
  text-align: center !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.absolute {
  position: absolute !important;
}
.top {
  top: 0 !important;
}
.right {
  right: 0 !important;
}
.left {
  left: 0 !important;
}
.bottom {
  bottom: 0 !important;
}

.main--text {
  color: #e91e63;
}

.caption--text {
  color: #ff0041;
}

.post_content_container {
  float: left;
  /* display: flex;
  flex-direction: row
  height: 100%; */
  width: calc(100% - 420px);
}
.post_sticky_area {
  float: right;
  position: sticky;
  right: 0;
  width: 330px;
}

.user {
  padding-left: 15px;
  background: url('/user2.png') no-repeat left 3px/14px;
}
.star {
  padding-left: 17px;
  background: url('/star.png') no-repeat left 3px/13px;
}
.heart {
  padding-left: 16px;
  background: url('/heart3.png') no-repeat left 3px/13px;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}
