// * {
//   @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
//   font-family: -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo,
//     'Noto Sans KR', sans-serif !important;
// }

.bg-lightgrey {
  background-color: rgb(251, 251, 251);
}

.bg-info {
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.border-bottom {
  border-bottom: 1px solid lightgrey;
}
.info-card {
  max-width: 50%;
  h3 {
    word-break: keep-all;
  }
}
.main-page {
  padding: 16px 46px;
  font-weight: 300;
  max-width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.bg-red {
  background-color: red !important;
  color: red !important;
}
.toolbar-btn {
  font-size: 14px;
  font-weight: 500 !important;
  color: #252a33 !important;
}
.text-center {
  text-align: center !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.absolute {
  position: absolute !important;
}
.top {
  top: 0 !important;
}
.right {
  right: 0 !important;
}
.left {
  left: 0 !important;
}
.bottom {
  bottom: 0 !important;
}

.user {
  padding-left: 15px;
  background: url('/user2.png') no-repeat left 3px/14px;
}
.star {
  padding-left: 17px;
  background: url('/star.png') no-repeat left 3px/13px;
}
.heart {
  padding-left: 16px;
  background: url('/heart3.png') no-repeat left 3px/13px;
}

.vertical-center {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.post_sticky_area {
  float: right;
  position: fixed !important;
  top: 130px;
  bottom: unset;
  width: 330px;
  box-shadow: 0 1px 4px 0 rgba(17, 17, 17, 0.1);
  transform: rotate(0.001deg);

  .post_sticky_navi {
    width: 100%;
    height: 485px;
    transition: all 1s;
  }
}
.post_content_container {
  float: left;
  /* display: flex;
  flex-direction: row
  height: 100%; */
  width: calc(100% - 380px);
}

.profile_list {
  padding: 16px 0;
  background-color: #fff;
  font-size: 13px;
  li {
    cursor: pointer;
    padding: 4px 0;
    color: grey;
    list-style: none;
    padding-left: 0;
    &:hover {
      color: black;
      font-weight: bold;
    }
  }
}

.z-max {
  z-index: 16777271;
}

.title_form {
  width: 1185px;
  margin: 0 auto;
  padding-bottom: 100px;
  div {
    box-sizing: border-box;
  }
  .box {
    display: flex;
    padding: 30px 0;
    // font-weight: 400;
    row-gap: 2px;
    border-bottom: 1px solid #d8d9db;
    .box-title {
      width: 220px;
      color: #333;
      font-size: 16px;
      font-family: 'Noto Sans KR', sans-serif !important;
      padding: 14px;
      font-weight: 900 !important;
    }
    .content {
      width: 50%;
    }
  }
}
.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

.footer_content {
  background-color: #f7f8fa;
  color: #9298a6;
  p {
    font-size: 13px;
    padding-bottom: 0;
    margin-bottom: 0 !important;
  }
}
.title_box {
  overflow: hidden;
  margin-top: 30px;
  font-size: 20px;
  padding: 19px 0;
  border-bottom: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between;
  .steps {
    display: flex;
    vertical-align: top;
    float: right;
    font-size: 14px;
    list-style: none;
    color: #aaaaaa;
    img {
      vertical-align: top;
      padding-top: 8px;
      width: auto;
      height: auto;
      max-width: 20px;
      max-height: 20px;
    }
    li {
      margin: 0 15px;
      font-size: 18px;
      cursor: pointer;
      letter-spacing: -0.5px;
      color: #aaa;
    }
  }
}

// @media (min-width: 960px) {
//   .container {
//     max-width: 900px;
//   }
//   .post_sticky_area {
//     right: calc((100% - 900px) / 2);
//   }
// }

// @media (min-width: 960px) {
//   .container {
//     max-width: 900px;
//   }
// }
// @media (min-width: 1264px) {
//   .container {
//     max-width: 1185px;
//   }
//   .post_sticky_area {
//     right: calc((100% - 1185px) / 2);
//   }
// }
// @media (min-width: 1904px) {
//   .container {
//     max-width: 1185px !important;
//   }
// }

// @media (min-width: 960px) and (max-width: 1264px) {
//   .container {
//     max-width: 930px;
//   }
//   .post_sticky_area {
//     right: calc((100% - 930px) / 2);
//   }
// }

// @media (min-width: 1024px) and (max-width: 1264px) {
//   .container {
//     max-width: 960px;
//   }
//   .post_sticky_area {
//     right: calc((100% - 960px) / 2);
//   }
// }

// @media (max-width: 959px) {
//   .post_sticky_area {
//     // right: calc((100% - 1185px) / 2);
//     display: none;
//   }
//   .post_content_container {
//     /* display: flex;
//     flex-direction: row
//     height: 100%; */
//     width: 100%;
//   }
// }

// @media (min-width: 300px) {
//   .post_sticky_area {
//     // right: calc((100% - 1185px) / 2);
//     right: 0;
//   }
// }
