{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 140,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": true
}
